@use '../abstracts/variables' as *;

body {
  font-family: $font-main;
  color: $color-text;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  max-width: 820px;
  font-size: clamp(2rem, 5vw, 4.75rem);
  line-height: 0.95;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1.15rem;
  line-height: 1.2;
}

p {
  color: $color-muted;
  line-height: 1.6;
}

code {
  color: $color-cyan;
}

