<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/f8910eab-c0f7-4227-9096-70412cd5a764/resourceGroups/AlphaMindRG/providers/Microsoft.Web/sites/alpha-mind-api</ResourceId>
    <ResourceGroup>AlphaMindRG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://alpha-mind-api-hnashcabdrd8hkbh.northeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d36cd4fd-1314-a56f-bc4d-c50c8064f5c4</ProjectGuid>
    <PublishUrl>https://alpha-mind-api-hnashcabdrd8hkbh.scm.northeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$alpha-mind-api</UserName>
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>